@import 'variables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#my-nav-menu {
  @media screen and (min-width: $break-large) {
    position: relative;
    left: 14px;
  }
}

#splash {
  display: none;
}

body {
  // padding-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 165px;
    margin: auto;
  }
}

section {
  margin-left: 15px;
}
