@import '../../styles/variables';
img {
  height: 50px;
}
ul {
  list-style: none;
  margin: 20px 10px;
  padding: 0;
  li {
    margin-bottom: 5px;
    img {
      border-radius: 25px;
      margin-right: 25px;
      box-shadow: 1px 1px 4px #555;
      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 4px #555;
      }
    }
  }
}
.total {
  border-top: 1px solid $my-blue;
  padding: 5px;
}
