ul.userlist(*ngIf="userlist")
  li(*ngFor="let user of userlist.users")
    .userentry
      img([src]="user.avatar_url", (click)="select(user)")
      span {{user.login}}
.total(*ngIf="loaded") Users found: {{userlist ? userlist.total : 0}}
