section.user
  .entry.face
    img([src]="user.avatar_url", [style.width]="300")
  .entry.name
    span {{userName}} (
      a(href="{{user.html_url}}", title="Open user's github page", target='_blank') {{user.login}}
    span )
  .entry.location
    svg.octicon.octicon-location(viewBox="0 0 12 16", version="1.1", width="12", height="16", aria-hidden="true")
      path(fill-rule="evenodd", d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z")
    span.title {{userLocation}}
  .entry.back
    span.button((click)="goToMainPage()") << &nbsp; Go back to list
  .entry.chart
    kendo-chart(style="height: 200px; margin-top: 30px;")
      kendo-chart-title(text="Followers chart")
      //- kendo-chart-tooltip(format="{0} Token")
      kendo-chart-legend(position="bottom", orientation="horizontal")
      kendo-chart-category-axis
        kendo-chart-category-axis-item([categories]="names")
      kendo-chart-series
        kendo-chart-series-item(type="area", [data]="data")

